:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.login {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  margin-bottom: 32px;
  text-align: start;
  font-size: var(--lg);
}

.form {
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
  font-size: var(--sm);
  font-weight: bold;
}

.value {
  margin: 8px 0 32px 0;
  font-size: var(--md);
  color: var(--very-light-pink);
}

.secondary-button {
  width: 100%;
  height: 50px;
  border: 1px solid var(--hospital-green);
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--white);
  color: var(--hospital-green);
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }

  .form {
    height: 100%;
    justify-content: space-between;
  }
}