:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: 100vh;
}

.first-ul {
  font-size: var(--sm);
  border-bottom: 1px solid var(--very-light-pink);
}

.second-ul {
  font-size: var(--sm);
  margin-top: 24px;
}

.mobile-menu a {
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}