:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.my-order {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.title {
  margin-bottom: 40px;
  font-size: var(--lg);
}

.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.my-order-content {
  display: flex;
  flex-direction: column;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.order p:first-child {
  display: flex;
  flex-direction: column;
}

.order p span:first-child {
  font-size: var(--md);
  font-weight: bold;
}

.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.order div {
  display: flex;
  justify-content: flex-end;
}

.order div p {
  font-weight: bold;
  font-size: var(--sm);
}

